<md-content class="header-bg" ng-controller="NavigationController">
  <nav layout="row">
    <div class="logo">
      <a ui-sref="home">
      <wp-logo src="img/Logo-small.svg"></wp-logo>
      </a>
    </div>
    <ul layout="row">
      <li><a ui-sref=".portfolio" class="ng-class:state.port">Portfolio</a></li>
      <li><a ui-sref=".about" class="ng-class:state.about" >About</a></li>
      <li><a ui-sref=".contact" class="ng-class:state.contact" >Contact</a></li>
    </ul>
  </nav>
</md-content>