@import nib
@import '../js/libs/angular-material/angular-material.min.css'
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,900italic,900,100italic)

//-----------  Color Scheme  ---------------
$wp-black = #00000
$wp-bg = #ffffff
$wp-red = #FF4C59
$wp-dark-red = #8C2A36
$wp-blue = #32B8FF
$wp-dark-blue = #117BB2
$wp-ochre = #CCC714
$wp-dark-ochre = #B2AE1A

@font-face {
  font-family: 'Tannenberg-Fett';
  src:url('../fonts/Tannenberg-Fett.ttf.woff') format('woff'),
  url('../fonts/Tannenberg-Fett.ttf.svg#Tannenberg-Fett') format('svg'),
  url('../fonts/Tannenberg-Fett.ttf.eot'),
  url('../fonts/Tannenberg-Fett.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

html
  min-height 100%
  position relative
  background-color $wp-bg

body
  font-family Futura, 'Roboto', sans-serif
  background-color $wp-bg

a
  text-decoration none

ul
  list-style none

.wrapper
  min-height 100%
  height auto !important

md-content
  overflow hidden

md-content.header-bg
    height 250px
    background-color $wp-dark-blue
    transform skew(0deg,-5deg)
    margin -65px 0px 100px

nav
  width 70%
  height 200px
  margin 75px auto
  transform skew(0deg, 5deg)

  .logo
    width 200px
    height 200px
    background url("../img/Logo-small.svg") no-repeat


    a
      display block
      width 100%
      height 100%

  ul

    li
      margin 53px 50px
      text-transform uppercase
      font-size 1.4em
      font-weight 800
      color $wp-bg
  
      a
        color $wp-bg
        &:visited
          color $wp-bg
        &:hover
          color $wp-ochre

.home-bg
  height 65%
  width 100%
  background-color $wp-dark-blue
  z-index 0
  position absolute
  transform skew(0deg,-10deg)
  margin -128px 0px 0px

.container
  width 70%
  min-height 100%
  margin 0 auto
  position relative
  z-index 1

  .slogan
    font-size 3em
    text-align center
    font-style italic
    font-weight 800
    width 70%
    margin 0 auto

    span
      display block
      border 3px solid $wp-ochre
      width 300px
      margin 40px auto

  .tile
    background-color $wp-red

  .home-logo
    width 80%
    margin 60px auto 0px
    height 550px
    display block

  .links
    width 50%
    margin 0 auto

    ul
      padding 0px

      li
        font-size 1.4em
        text-align center
        margin 3px auto

      a
        color #000000
        font-family 'Futura'
        font-weight 100
        text-transform uppercase

  .profile
    height 400px
    width 200px
    background-color #000066
    margin 20px

  .bio
    font-weight 100

  .cv
    div
      padding 5px 20px

    span
      margin 5px 0px 0px 0px

    .year
      font-style: italic
      font-weight 800

.footer
  height 70px
  width 100%
  margin-top 50px

  span
    font-size 0.9em
    text-align center
    display block
    margin 40px auto 0px