<div class="container" layout="column" ng-controller="CvController">
  <div class="intro" layout="row" layout-md="column">
    <div class="profile" flex="33"></div>
    <div class="bio" flex="50">
      <span class="opener">
        Hola, I'm Walter a mexican german Creative Technologist and UX Engineer based in Munich.
      </span>

      <div layout="row" layout-md="column">
        <p flex>
          I grew up in a family of musicians and entrepreneurs where
          creativity was not only fostered but also embraced as a lifestyle.
          Creating things has been always in my mind, I was the kid who would
          rather stay inside and paint or build something with Lego. Since
          then the medium I use as an outlet for my creativity has changed
          many times but my curiosity and desire to build stuff have stayed
          the same.
        </p>

        <p flex>
          In 2008 I decided to move to Germany and studied Media
          Engineering and Human Computer Interaction. I'm passionate about
          storytelling through desing and code crafting immersive and
          enjoyable experiences for users. My main fields of interest are UX
          Engineering, Frontend Development, Data Visualization and
          Creative Coding as they provide me a good balance between design
          and coding.
        </p>
      </div>

    </div>
  </div>
  <div class="cv" layout="column">
    <div ng-repeat="category in content.keys">
      <h2>{{category}}</h2>

      <div layout="row" ng-repeat="step in content[category]">
        <span class="year" flex='20'>{{step.time}}</span>
        <span flex="55">{{step.titel}}
        <br/>
        {{step.content}}</span>
      </div>

    </div>
  </div>

</div>
<wp-footer></wp-footer>