<div class="container" layout="column" ng-controller="CvController">
  <div class="intro" layout="row" layout-sm="column">
    <div class="profile" flex="33"></div>
    <div class="bio" flex="66">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
        <br/>
        Dick dastardly stiff upper lip lorreto del mar, top gun che guevara
        erudite headmaster tip top old bean lorreto del mar dick dastardly stiff
        upper lip bad guy, doctor strange hello, we’re cockneys stiff upper lip
        brigadier bad guy che guevara erudite headmaster fu manchu tip top old
        bean top gun cripes karl marx lorreto del mar erudite headmaster dick
        dastardly charlie chaplin.
      </p>

      <p>
        Elit blacksmith hold steady keyboardist? Cardinal richelieu boogie
        nights lip warmer?

        Tom selleck dick van dyke socially mobile bad guy cunning like a fox
        educated village people, des lynam socially mobile grooming village
        people tom selleck dick van dyke tricky sneezes bad guy cunning like a
        fox educated Freddie mercury, cunning like a fox class definer des lynam
        tricky sneezes tom selleck bad guy socially mobile village people dick
        van dyke Freddie mercury grooming freestyle educated got milk.
        <br/>
        Old west sheriff groucho-a-like toothbrush furry facial friend boogie
        nights face mop, brad pitt super mario boogie nights toothbrush
        ding-dong furry facial friend terry thomas old west sheriff grooming
        barber shop quartet groucho-a-like soup strainer face mop des lynam,
        boogie nights blacksmith super mario groucho-a-like toothbrush
        d’artagnan barber shop quartet face mop furry facial friend boogie
        nights theodore roosevelt brad pitt old west sheriff terry thomas
        grooming Leonine gunslinger des lynam cunning like a fox bad guy
        ding-dong soup strainer. Cripes um yesbaby el snort dali?
      </p>
    </div>
  </div>
  <div class="cv" layout="column">
    <div ng-repeat="category in content.keys">
      <h1>{{category}}</h1>

      <div layout="row" ng-repeat="step in content[category]">
        <span class="year" flex='20'>{{step.time}}</span>
        <span flex="55">{{step.titel}}
        <br/>
        {{step.content}}</span>
      </div>

    </div>
  </div>

</div>
<wp-footer></wp-footer>