<div class="container" layout="column" ng-controller="CvController">
  <div class="intro" layout="row" layout-sm="column">
    <div class="profile" flex="33"></div>
    <div class="bio" flex="66">
      <span class="opener">
        Hola, I'm Walter a mexican german Creative Technologist and UX Engineer based in Munich.
      </span>
      <p>
        Born and raised in the dessert of Chihuahua, Mexico I moved to Germany 7 years ago to pursue my studies in Media Engineering and Human Computer Interaction.
      </p>

    </div>
  </div>
  <div class="cv" layout="column">
    <div ng-repeat="category in content.keys">
      <h2>{{category}}</h2>

      <div layout="row" ng-repeat="step in content[category]">
        <span class="year" flex='20'>{{step.time}}</span>
        <span flex="55">{{step.titel}}
        <br/>
        {{step.content}}</span>
      </div>

    </div>
  </div>

</div>
<wp-footer></wp-footer>