<div class="container contact" ng-controller="ContactCtrl as ctrl">
  <section>
    <h1>Let's get in touch</h1>
    <span>I'm currently open for work in munich or remotely. If you liked any of my work and think I might be suitable for your next project feel free to reach out.</span>
  </section>
  <section>
    <div>
      <span class="medium">Email</span>
      <a href="mailto:me@walterrempening.comg?subject=Hey%20Walter%20">me@walterrempening.com</a>
    </div>
    <div>
      <span class="medium">Github</span>
      <a ng-click="ctrl.goToLink('https://github.com/WalterRempening')">WalterRempening</a>
    </div>
    <div>
      <span class="medium">Twitter</span>
      <a ng-click="ctrl.goToLink('https://twitter.com/WalterRempening')">@WalterRempening</a>
    </div>
  </section>
</div>

<wp-footer></wp-footer>