<div class="container" ng-controller="PortfolioController">
  <div class="slogan">
    <span></span>
    "A really deep sentence resuming my body of work and work ethics, but like
    for real"
    <span></span>
  </div>
  <section class="grid">
    <wp-tile ng-repeat="work in portfolio.tiles"
             wtitel="{{work.titel}}"
             wdescription="{{work.description}}"
             wlink="{{work.link}}"
             wimage="img/sculptures.jpg"
             wplane-color="{{work.color}}"
             windex = "{{$index}}"
             ng-mouseenter="play()"
             ng-mouseleave="reverse()">
    </wp-tile>
  </section>
</div>
<wp-footer></wp-footer>