<div class="container" ng-controller="PortfolioController">
  <div class="slogan">
    <span class="line" ></span>
    <div class="quote">66</div>
    Without craftsmanship, <br/>inspiration is a mere reed <br/>shaken in the
    wind
    <div class="quote">99</div>
   <span class="author">Johannes Brahms</span>
    <span class="line" ></span>
  </div>
  <section class="grid">
    <wp-tile ng-repeat="work in portfolio.tiles"
             wtitel="{{work.titel}}"
             wdescription="{{work.description}}"
             wlink="{{work.link}}"
             wimage="img/portfolio/{{work.cover}}"
             wplane-color="{{work.color}}"
             windex = "{{$index}}"
             wclass = "{{work.class}}"
             ng-mouseenter="play()"
             ng-mouseleave="reverse()">
    </wp-tile>
  </section>
</div>
<wp-footer></wp-footer>