<section class="detail" ng-controller="DetailController">
  <div class="header-bg ng-class:portStyle.class"></div>
  <h1 class="work-titel">{{portContent.titel}}</h1>

  <div class="frame white-section-bg">

    <section ng-repeat="block in portContent.content"
             class="{{block.type}}">
      <div class="container">
        <div class="copy">
          <h2 class="sub-titel {{block.titel}}">{{block.titel}}</h2>
          <span>{{block.copy}}</span>
        </div>
      </div>
      <section class="gallery-{{block.gallery.type}}">
        <img ng-repeat="foto in block.gallery.fotos"
             src="img/portfolio/{{foto}}"
             alt="{{portContent.titel}} Gallery"/>
      </section>
    </section>
  </div>
  </div>
</section>
<wp-footer></wp-footer>