<md-content>
  <div class="home-bg"></div>
  <div class="container">

    <wp-home-logo></wp-home-logo>
    <div layout="column" class="links">
      <ul>
        <li>
          <span class="blop left"></span>
            <a ui-sref="content.portfolio">portfolio</a>
          <span class="blop right"></span>
        </li>

        <li>
          <span class="blop left"></span>
          <a ui-sref="content.about">About</a>
          <span class="blop right"></span>
        </li>
        <li>
          <span class="blop left"></span>
          <a ui-sref="content.contact">Contact</a>
          <span class="blop right"></span>
        </li>
      </ul>

    </div>
  </div>
</md-content>